body {
    font-family: Arial;
    margin: 0;
    background: #f0f0f0;
}

/* Header */
header {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Nav */
nav {
    text-align: center;
    background: #444;
    padding: 10px;
}

nav button {
    padding: 10px;
    margin: 5px;
    border: none;
    background: orange;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

nav button:hover {
    background: darkorange;
}

/* Sections */
.box {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    color: black;
}

/* Different colors */
.blue { background: #d0e7ff; }
.green { background: #d4f8d4; }
.orange { background: #ffe0b3; }
.purple { background: #e6ccff; }
.pink { background: #ffd6e7; }
.yellow { background: #fff7cc; }
.gray { background: #e0e0e0; }

/* Table */
table {
    border-collapse: collapse;
    width: 60%;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
}

/* Image */
img {
    margin-top: 10px;
    border-radius: 10px;
}